@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Yeseva+One&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000; 
  --main-blue: #538FE8;
  --hover-text-blue: #4274bf;
  --hover-btn-blue: #8fb9f9;
  --hover-bg-blue: #dae7fb;
  --outline-grey: #d5d5d5;
  --hover-blue: #eff6ff;
  --bg-blue: #EEF4FD;
  --text-grey: #8e8e8e;
  --btn-grey: #bcbcbc;
  --outline-green: #9CD29D;
  --main-green: #d6edd6;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--bg-blue);
    width: 100%;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    display: grid;
    place-items: center;
}

body:hover * {
    transition: all 0.2s cubic-bezier(.68,0,.68,.86);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section {
    width: 65%;
    background-color: var(--white);
    padding: 5em 6em;
    border: 0.12em solid var(--outline-grey);
}

.main-title {
    font-size: 2.3rem;
    font-family:  'Yeseva One', serif;
}

.page-nav {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-blue);
    justify-content: space-between;
    margin-top: 1.5em;
    border-radius: 0.2em;
}

.nav-link {
    text-decoration: none;
    color: var(--main-blue);
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    color: var(--hover-text-blue);
    background-color: var(--hover-bg-blue);
}

.asked-by {
    font-style: italic;
    font-size: 0.85rem;
    margin-top: 0.2em;
    color: var(--text-grey);
    font-weight: 100;
}

.prompt-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.prompt {
    margin-bottom: 0.7em;
    margin-top: 2em;
}

.text-field {
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0.12em solid var(--outline-grey);
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: var(--text-grey);
}

.text-field:focus {
    border: 0.12em solid var(--main-blue);
    outline: none;  
}

.text-field-large {
    height: 7rem;
    resize: none;
}

.sub-prompt {
    font-size: 1rem;
    color: var(--text-grey);
    font-weight: 100;
    margin-top: 0.5em;
}

.btns {
    margin-top: 2.5em;
    gap: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-cancel {
    background-color: var(--white);
    border: 0.12rem solid var(--black);
    font-size: 1.1rem;
    color: var(--black);
    width: 100%;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.btn-next {
    font-family: 'Karla', sans-serif;
    width: 100%;
    font-weight: bold;
    background-color: var(--main-blue);
    font-size: 1.1rem;
    color: var(--white);
    width: 100%;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.2em;
    border: none;
    outline: none;
}

.btn-cancel:hover {
    background-color: var(--btn-grey);
    border: 0.12rem solid var(--btn-grey);
    color: var(--white);
}

.btn-next:hover {
    cursor: pointer;
    background-color: var(--hover-btn-blue);
}
