@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Yeseva+One&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000; 
  --main-blue: #538FE8;
  --hover-btn-blue: #8fb9f9;
  --outline-grey: #d5d5d5;
  --hover-blue: #eff6ff;
  --bg-blue: #EEF4FD;
  --text-grey: #8e8e8e;
  --btn-grey: #bcbcbc;
  --outline-green: #9CD29D;
  --main-green: #d6edd6;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: var(--bg-blue);
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

body:hover * {
    transition: all 0.2s cubic-bezier(.68,0,.68,.86);
}

.container {
    background-color: var(--white);
    padding: 5em 6em;
    display: flex;
    flex-direction: column;
    border: 0.12em solid var(--outline-grey);
    width: 100%;
}

.container-sml {
    background-color: var(--white);
    border: 0.12em solid var(--outline-grey);
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
}

.customize-envelope {
    z-index: -1;
}

.main-title {
    font-size: 2.3rem;
    font-family:  'Yeseva One', serif;
}

.prompt-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin-top: 1em;
}

.prompt {
    margin-bottom: 0.7em;
}

.text-field {
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0.12em solid var(--outline-grey);
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: var(--text-grey);
}

.text-field:focus {
    border: 0.12em solid var(--main-blue);
    outline: none;  
}

.sub-prompt {
    font-size: 1rem;
    color: var(--text-grey);
    font-weight: 100;
    margin-top: 0.5em;
}

.sub-title {
    margin-top: 0.8em;
    font-size: 1.1rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.8em;
    border-radius: 0.2em;
    border: 0.12em solid var(--outline-grey);
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: var(--text-grey)
}

select:hover {
    cursor: pointer;
}

select:focus {
    border: 0.12em solid var(--main-blue);
    outline: none;
    
}

.btns {
    margin-top: 2.5em;
    gap: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-cancel {
    background-color: var(--white);
    border: 0.12rem solid var(--black);
    font-size: 1.1rem;
    color: var(--black);
    width: 100%;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.btn-next {
    font-family: 'Karla', sans-serif;
    width: 100%;
    font-weight: bold;
    background-color: var(--main-blue);
    font-size: 1.1rem;
    color: var(--white);
    width: 100%;
    padding: 0.7em 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.2em;
    border: none;
    outline: none;
}

.btn-cancel:hover {
    background-color: var(--btn-grey);
    border: 0.12rem solid var(--btn-grey);
    color: var(--white);
}

.btn-next:hover {
    cursor: pointer;
    background-color: var(--hover-btn-blue);
}

.prompt-box {
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.custom-prompt {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--main-blue);
    font-weight: bold;
    font-size: 1.3rem;
    gap: 0.4em;
    cursor: pointer;
    margin-top: 1.5em;
}

.custom-title {
    padding-bottom: 0.6em;
}

#plus {
    fill: var(--main-blue);
}

.custom-prompt:hover {
    color: var(--hover-btn-blue);
}

.custom-prompt:hover #plus {
    fill: var(--hover-btn-blue);
}

.add-custom-prompt {
    z-index: 100;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 45%;
}

.success-box {
    background-color: var(--main-green);
    border: 0.12em solid var(--outline-green);
    padding: 1em;
    font-style: italic;
    border-radius: 0.2em;
    margin-top: 1em;
}