@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Yeseva+One&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-pink: #FF2D8E;
  --grey-outline: #a6a6a68d;
}

body {
  font-family: 'Karla', sans-serif;
}

.container {
  margin: auto;
  width: 60%;
}

.main-title {
  font-size: 1.8rem;
  color: var(--main-pink);
  margin: 0.8em 0em;
}

.envelopes {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.env-tile {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  height: 8em;
  justify-content: center;
  padding: 3em;
  border-radius: 1.5em;
  border: 0.1rem solid var(--grey-outline);
}

.env-title {
  font-family: 'Yeseva One', serif;
  font-size: 1.8rem;
}