{% extends "master.html" %}

{% block title %}
  Create Group
{% endblock %}
{% block content %}
<div class="main">
  <form action="" method="POST">
    {% csrf_token %}
      <h1>Create Group</h1>
      {% if messages %}
        {% for message in messages %}
        <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
      {% endif %}
        <p>This is where the user creates a group.</p>
        <div class="envelope-name">
          <label for="envelope_name" class="form-label">Envelope Name</label>
          <input type="text" class="form-control" name="envelope_name" required>
        </div>
        <div class="envelope_members">
          <label for="envelope_members" class="form-label">Add Members</label>
          <input type="text" class="form-control" name="envelope_members" required>
        </div>
        <li>Default questions -> can be modifed</li>
        <li>Add more questions -> will also be added to question bank</li> 
        <li>Remember that a question should have an author, either swell or the creator</li> 
        <a href="{% url 'board:board_home' %}">Exit</a>
        <input type="submit" value="Send Envelope" class="btn btn-secondary" name="create-envelope-btn">
      </form>
    </div>
{% endblock %}