{% block title %}
  <title>Create Envelope</title>
{% endblock %}

{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
</head>
  <form method="post" action="">
      {% csrf_token %}
      <div class="container">
        <div class="main-title">Create Envelope</div>
        <div class="btns">
          <a class="btn-cancel" href="{% url 'board:board_home' %}">Cancel</a>
          <input class="btn-next" type="submit" value="Next">
        </div>
      </div>
  </form>
{% endblock %}