{% block title %}
  <title>Create Envelope</title>
{% endblock %}

{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
</head>
  <form method="post" action="">
      {% csrf_token %}
      <div class="container">
        <div class="main-title">Create Envelope</div>
        {% if messages %}
          {% for message in messages %}
            <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
          {% endfor %}
        {% endif %}
        <div class="prompt-text">
          <label class="prompt" for="envelope_name">Choose an Envelope Name</label>
          <input required class="text-field" type="text" name="envelope_name" id="id_envelope_name" placeholder="Envelope Name">
        </div>
        <div class="prompt-text">
          <label class="prompt" for="admin_display_name">User Display Name</label>
          <input required class="text-field" type="text" name="admin_display_name" id="id_envelope_name" placeholder="Name">
          <label class="sub-prompt" for="admin_display_name"><i>how your name appears to Envelope members</i></label>
        </div>
        <div class="prompt-text">
          <label class="prompt" for="envelope_frequency">Envelope Frequency</label>
          {{ form.envelope_frequency }}
        </div>
        <div class="btns">
          <a class="btn-cancel" href="{% url 'board:board_home' %}">Cancel</a>
          <input class="btn-next" type="submit" value="Next">
        </div>
      </div>
  </form>
{% endblock %}