{% block title %}
  <title>Create Envelope Prompts</title>
{% endblock %}

{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
</head>
<script>
  var checkedQuestionIds = [];
  var adminCustomQuestions = [];

  function toggleCheckboxes(questionId) {
    var promptBox = document.getElementById(questionId);
    var unchecked = promptBox.querySelector('.unchecked');
    var checked = promptBox.querySelector('.checked');

    if (unchecked.style.display !== 'none') {
        unchecked.style.display = 'none';
        checked.style.display = 'block';
        checkedQuestionIds.push(parseInt(questionId, 10));
    } else {
        unchecked.style.display = 'block';
        checked.style.display = 'none';
        var index = checkedQuestionIds.indexOf(parseInt(questionId, 10));
        if (index !== -1) {
            checkedQuestionIds.splice(index, 1);
      }
    }
  }
  function onSubmit() {
    console.log(checkedQuestionIds);
    sessionStorage.setItem('checkedQuestionIds', JSON.stringify(checkedQuestionIds));
    sessionStorage.setItem('adminCustomQuestions', JSON.stringify(adminCustomQuestions));
    document.getElementById('checkedQuestionIdsInput').value = checkedQuestionIds;
    document.getElementById('customPromptsInput').value = adminCustomQuestions;
  }
  function showCustomPrompt() {
    var addCustomPrompt = document.getElementById('custom-prompt-display');
    var background = document.getElementById('background');
    addCustomPrompt.style.opacity = 1;
    background.style.filter = 'blur(0.3em) brightness(98%)';
  }
  function hideCustomPrompt() {
    var addCustomPrompt = document.getElementById('custom-prompt-display');
    var background = document.getElementById('background');
    document.getElementById('user_custom_prompt').value = ''
    addCustomPrompt.style.opacity = 0;
    background.style.filter = 'blur(0)';
  }
  // adds custom prompt to envelope and displays success message
  function addCustomAdminPrompt() {
    var prompt = document.getElementById('user_custom_prompt').value;
    var addedPromptSuccess = document.getElementById("added-prompt");
    // display success indicator
    if (prompt != '') {
      adminCustomQuestions.push(prompt)
      addedPromptSuccess.innerHTML = "Added: " + prompt
      addedPromptSuccess.style.display = 'block';
      hideCustomPrompt()
    }
  }
</script>
<div class="background" id="background">
  <form method="post" action="" onsubmit="onSubmit()">
    {% csrf_token %}
    <div class="customize-envelope">
    <div class="container" id="customize">
        <div class="header">
          <div class="main-title">Customize Your Envelope</div>
          <div class="sub-title">Choose prompts to get the Envelope started! You can add, delete, and modify prompts until next {{ edit_day }}.</div>
      </div>
      <div class="success-box" id="added-prompt" style="display: none;"></div>
      {% if messages %}
        {% for message in messages %}
          <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
      {% endif %}
      {% for question in questions %}
          <div class="prompt-box" id="{{ question.id }}">
              <svg class="unchecked" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleCheckboxes('{{ question.id }}')">
                <mask id="path-1-inside-1_84_71" fill="white"><rect width="19" height="19" rx="1.25"/></mask>
                <rect width="19" height="19" rx="1.25" fill="white" stroke="#8B8B8B" stroke-width="4" mask="url(#path-1-inside-1_84_71)"/>
              </svg>
              <svg class="checked" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="toggleCheckboxes('{{ question.id }}')" style="display: none;">
                <mask id="path-1-inside-1_90_136" fill="white"><rect width="19" height="19" rx="1.25"/></mask>
                <rect width="19" height="19" rx="1.25" fill="white"/>
                <rect width="19" height="19" rx="1.25" fill="white"/>
                <rect width="19" height="19" rx="1.25" stroke="#538FE8" stroke-width="4" mask="url(#path-1-inside-1_90_136)"/>
                <rect x="4" y="4" width="11" height="11" rx="0.5" fill="#538FE8"/>
              </svg>
              <label id="{{ question.id }}">{{ question.content }}</label>
          </div>
      {% endfor %}
      <div class="custom-prompt" onclick="showCustomPrompt()">
        <svg id="plus" width="9" height="10" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" width="3" height="11"/>
          <rect y="7" width="3" height="11" transform="rotate(-90 0 7)"/>
        </svg>
        <p>Add custom prompt</p>
      </div>
      <input type="hidden" id="checkedQuestionIdsInput" name="checked_question_ids" value="">
      <input type="hidden" id="customPromptsInput" name="custom_prompts_input" value="">
      <div class="btns">
          <a class="btn-cancel" href="{% url 'envelope:envelope_create' %}">Back</a>
          <input class="btn-next" type="submit" value="Next">
      </div>
      </div>
    </div>
    {% endblock %}
  </form>
</div>
<div class="add-custom-prompt" id="custom-prompt-display" style="opacity: 0;">
  <div class="container-sml">
    <div class="header">
      <div class="main-title custom-title">Add Custom Prompt</div>
    </div>
    <input required class="text-field" type="text" name="user_custom_prompt" id="user_custom_prompt" placeholder="Your prompt goes here...">
    <label class="sub-prompt" for="user_custom_prompt"><i>Your display name will be visible with this prompt.</i></label>
    <div class="btns">
      <a class="btn-cancel" id="cancel-prompt" onclick="hideCustomPrompt()">Cancel</a>
      <a class="btn-next" onclick="addCustomAdminPrompt()" type="submit">Create</a>
    </div>
  </div>
</div>