{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}SoWell: Members{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'envelope.css' %}">
</head>
<body>
  <div class="container">
    <div class="section">
      {% block content %}
        <div class="main-title">Issue #{{ envelope.envelope_issue}}: {{ envelope.envelope_name }}</div>
        <div class="page-nav">
          <a class="nav-link" href="/dashboard/envelope/{{ envelope.envelope_id }}">Envelope</a>
          <a class="nav-link" href="/dashboard/envelope/{{ envelope.envelope_id }}/members">Members</a>
          <a class="nav-link" href="/dashboard/envelope/{{ envelope.envelope_id }}/admin">Settings</a>
        </div>
        {% if messages %}
          {% for message in messages %}
            <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
          {% endfor %}
        {% endif %}
        <div class="members">
            {% for env_user in envelope_users %}
              {% if env_user.user == envelope_admin %}
                <p>{{ env_user.display_name }} - @{{ env_user.user.username }} - Admin</p>
              {% else %}
                <p>{{ env_user.display_name }} - @{{ env_user.user.username }}</p>
              {% endif %}
            {% endfor %}
        </div>
        {% if envelope.envelope_admin == user %}
            <form method="post" action="">
                {% csrf_token %}
                <label for="user_email">Email for user:</label>
                <input type="text" id="user_email" name="user_email">
                <input type="submit" value="Submit">
            </form>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</body>
</html>