{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}SoWell: Admin Settings{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'envelope.css' %}">
</head>
<script>
var checkedUserQuestionIds = JSON.parse('{{ questions_user_checked|safe }}');
var checkedDefaultQuestionIds = JSON.parse('{{ questions_default_checked|safe }}');

function toggleCheckboxes(questionId, questionType) {
    var promptBox = document.getElementById(questionId);
    var unchecked = promptBox.querySelector('.unchecked');
    var checked = promptBox.querySelector('.checked');
    
    // Toggle the checkboxes
    if (unchecked.style.display !== 'none') {
        unchecked.style.display = 'none';
        checked.style.display = 'block';

        // Add the checked ID to the corresponding list based on the question type
        if (questionType === 'user') {
            checkedUserQuestionIds.push(parseInt(questionId, 10));
        } else {
            checkedDefaultQuestionIds.push(parseInt(questionId, 10));
        }
    } else {
        unchecked.style.display = 'block';
        checked.style.display = 'none';

        // Remove the unchecked ID from the corresponding list based on the question type
        if (questionType === 'user') {
            var index = checkedUserQuestionIds.indexOf(parseInt(questionId, 10));
            if (index !== -1) {
                checkedUserQuestionIds.splice(index, 1);
            }
        } else {
            var index = checkedDefaultQuestionIds.indexOf(parseInt(questionId, 10));
            if (index !== -1) {
                checkedDefaultQuestionIds.splice(index, 1);
            }
          }
        }
      }
function onSubmit() {
    console.log(checkedUserQuestionIds);
    console.log(checkedDefaultQuestionIds);

    // Update the hidden input fields with the checked IDs
    document.getElementById('checkedUserQuestionIdsInput').value = checkedUserQuestionIds.join(',');
    document.getElementById('checkedDefaultQuestionIdsInput').value = checkedDefaultQuestionIds.join(',');
}
  fetch("{% static 'images/checked.svg' %}")
  .then(response => response.text())
        .then(svgContent => {
            const containers = document.querySelectorAll('.checked');
            containers.forEach(container => {
                container.innerHTML = svgContent;
            });
        });
  fetch("{% static 'images/unchecked.svg' %}")
  .then(response => response.text())
        .then(svgContent => {
            const containers = document.querySelectorAll('.unchecked');
            containers.forEach(container => {
                container.innerHTML = svgContent;
            });
        });
</script>
<body>
    {% block content %}
        
          <form class="container" method="post" action="" onsubmit="onSubmit()">
            {% csrf_token %}
            <div class="section">
              <div class="envelope-settings">
                <div class="main-title">Issue #{{ envelope.envelope_issue}}: {{ envelope.envelope_name }}</div>
                <div class="page-nav">
                  <a class="nav-link" href="/dashboard/envelope/{{ envelope.envelope_id }}">Envelope</a>
                  <a class="nav-link" href="/dashboard/envelope/{{ envelope.envelope_id }}/members">Members</a>
                  <a class="nav-link" href="/dashboard/envelope/{{ envelope.envelope_id }}/admin">Settings</a>
                </div>
                {% if messages %}
                  {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}-box" {% endif %}> {{ message }} </p>
                  {% endfor %}
                {% endif %}
              </div>
              {% if envelope.envelope_admin == user %}
                <div class="text-input">
                  <div class="title">Envelope Name</div>
                  <div class="sub-title">Members will be notified if the name is modified.</div>
                  <input class="text-field" type="text" name="envelope_name" placeholder="Envelope Name" value="{{ envelope.envelope_name }}">
                </div>
              {% endif %}
              <div class="text-input">
                <div class="title">Display Name</div>
                <div class="sub-title">This is how your name will appear to other members.</div>
                <input class="text-field" type="text" name="display_name" placeholder="Display Name" value="{{ display_name }}">
              </div>
              {% if envelope.envelope_admin == user %}
              {% if not started %}
                <div class="title">User Questions</div>
                {% if not questions_user %}
                  <p class="sub-title">There aren't any user questions at the moment. Create one <a class="hyperlink" href="/dashboard/envelope/{{ envelope.envelope_id }}">here!</a></p>
                {% else %}
                  {% for question in questions_user %}
                    <div class="prompt-box" id="{{ question.id }}">
                      {% if question.is_enabled %}
                        <div id="checked" class="checked" onclick="toggleCheckboxes('{{ question.id }}', 'user')"></div>
                        <div id="unchecked" class="unchecked" onclick="toggleCheckboxes('{{ question.id }}', 'user')" style="display: none;"></div>
                        {% else %}
                        <div id="checked" class="checked" onclick="toggleCheckboxes('{{ question.id }}', 'user')" style="display: none;"></div>
                        <div id="unchecked" class="unchecked" onclick="toggleCheckboxes('{{ question.id }}', 'user')"></div>
                      {% endif %}
                      <label class="default-prompt" id="{{ question.id }}">{{ question.content }}</label>
                      <p class="asked-by">asked by {{ question.display_name }}</p>
                    </div>
                  {% endfor %}
                {% endif %}
                  <div class="title">SoWell Questions</div>
                  {% for question in questions_default %}
                  <div class="prompt-box" id="{{ question.id }}">
                    {% if question.is_enabled %}
                      <div id="checked" class="checked" onclick="toggleCheckboxes('{{ question.id }}', 'default')"></div>
                      <div id="unchecked" class="unchecked" onclick="toggleCheckboxes('{{ question.id }}', 'default')" style="display: none;"></div>
                      {% else %}
                      <div id="checked" class="checked" onclick="toggleCheckboxes('{{ question.id }}', 'default')" style="display: none;"></div>
                      <div id="unchecked" class="unchecked" onclick="toggleCheckboxes('{{ question.id }}', 'default')"></div>
                    {% endif %}
                    <label class="default-prompt" id="{{ question.id }}">{{ question.content }}</label>
                  </div>
                {% endfor %}
              {% endif %}
              {% endif %}
              <div class="btns">
                <a class="btn-cancel" href="{% url 'board:board_home' %}">Return to Home</a>
                <input class="btn-next" type="submit" value="Modify">
              </div>
              
              <input type="hidden" id="checkedUserQuestionIdsInput" name="checked_user_question_ids" value="">
              <input type="hidden" id="checkedDefaultQuestionIdsInput" name="checked_default_question_ids" value="">
            </form>
          </div>
    {% endblock %}
  </div>
</body>
</html>
