{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Envelope Name{% endblock %}</title>
</head>
<body>
  {% block content %}
    <a href="/dashboard/envelope/{{ envelope.envelope_id }}/members">Members</a>
    {% if envelope.envelope_admin == user %}
        <p>You are admin</p>
    {% endif %}
    <form method="post" action="">
      {% csrf_token %}
      {% for question in questions %}
        <label for="{{ question.id }}">{{ question.content }}</label>
        <input type="text" name="{{ question.id }}"><br>
      {% endfor %}
      <input type="submit" value="Save">
      <a href="{% url 'board:board_home' %}"><button type="button">Exit</button></a>
    </form>
  {% endblock %}
</body>
</html>