<html lang="en">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Yeseva+One&display=swap');
        </style>
    </head>
    <body style="font-family: 'Karla', sans-serif; background-color: white; margin: 0; padding: 0;">
        <div class="container" style="width: 100%; box-sizing: border-box;">
            <div class="section" style="width: 65%; background-color: white; box-sizing: border-box;">
                {% block content %}
                <div class="main-title" style="font-size: 1.5rem; font-family: 'Yeseva One', serif;">Issue #{{ envelope.envelope_issue}}: {{ envelope.envelope_name }}</div>
                <div class="envelope-info" style="background-color: white; font-weight: bold;">
                    {{ published }}
                    <p class="asked-by" style="font-style: italic; font-size: 0.8rem; color: #8e8e8e; font-weight: 100;">
                        By {% for name, member in members.items %}{{ name }}{% if not forloop.last %},{% endif %}{% endfor %}
                    </p>
                </div>
                {% for question, answers in question_answers.items %}
                    {% if question.is_enabled %}
                        <div class="content-container" style="margin-top: 1em;">
                            <div class="question-answers" style="background-color: #f4f4f4; padding: 1em;">
                                <label class="question" style="font-size: 1rem; font-family: 'Yeseva One', serif;">
                                    {{ question.content }}
                                    {% if question.user %}
                                        <p class="asked-by" style="font-weight: 100; font-style: italic; font-size: 0.8rem; color: #8e8e8e; font-family: 'Karla', sans-serif;">asked by {{ question.display_name }}</p>
                                    {% else %}
                                        <p class="asked-by" style="font-weight: 100; font-style: italic; font-size: 0.8rem; color: #8e8e8e; font-family: 'Karla', sans-serif;">asked by SoWell</p>
                                    {% endif %}
                                </label>
                                {% if not answers %}
                                    <div class="answer" style="margin-top: 0.5em;">No one answered this question... :O</div>
                                {% else %}
                                    {% for answer in answers %}
                                    <div class="answer" style="margin-top: 0.5em;"><b>{{ answer.display_name }}: </b>{{ answer.user_answer }}</div>
                                    {% endfor %}
                                {% endif %}
                               </div>
                            </div>
                          {% endif %} 
                        {% endfor %}
                    <a class="btn-next" href="#" style="background-color: #538FE8; color: white; text-decoration: none; padding: 0.7em 2em; text-align: center; border-radius: 0.2em; display: inline-block; margin-top: 1em; font-weight: bold;">Add Go to SoWell button</a>
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>