{% extends "master.html" %}

{% block title %}
  swell
{% endblock %}
{% block content %}
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
  </head>
  <div class="container">
    <div class="board-actions">
      <div class="groups">
        <h1 class="main-title">@{{ user.username }}'s envelopes</h1>
          {% if messages %}
            {% for message in messages %}
              <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
            {% endfor %}
          {% endif %}
        <div class="envelopes">
          {% for envelope in created_by %}
            <div class="env-tile">
              <div class="env-title">{{ envelope.envelope_name }}</div>
              <div class="env-due-date">{{ envelope.delivery_date }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="create-group">
      <a href="{% url 'envelope:envelope_create' %}">Create Group</a>
    </div>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </div>
{% endblock %}