{% extends "master.html" %}

{% block title %}
  swell
{% endblock %}
{% block content %}
  <div class="main">
    <h1>swell home</h1>
    {% if messages %}
      {% for message in messages %}
      <p  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
      {% endfor %}
    {% endif %}
    <div class="board-actions">
      <div class="create-group">
        <p>Create a group to send an envelope</p>
        <a href="{% url 'envelope:envelope_create' %}">Create Group</a>
      </div>
      <div class="groups">
        <h1>Created Envelopes</h1>
        <ul>
            {% for envelope in created_by %}
                <li>{{ envelope.envelope_name }} - id: {{ envelope.envelope_id }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </div>
{% endblock %}